/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
    font-weight: normal;
    font-family: arial;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
body {
    background-color: #180d0d;
}
.header {
    position: sticky;
    top: 0;
    background-color: #892e4d;
    height: 48px;
    max-width: 950px;
    margin: 0px auto;
}
.header__conteiner {
    /* border: 1px solid #8f8d8d; */
    display: flex;
    align-items: center;
    }
.head_logo-link{
    color: #773cff;
    display: inline-block;
    font-weight: 800;
    margin: 17px 38px;
}
.header__nav{
    
}
.header__list{
    display: flex;
    background-color: #700000;
}
.header__item{
    outline: 1px  solid black;
    padding: 16px 15px;

    color: #773cff;
}
.header__item:hover {
    background-color: #5e0000;
}
.wrapper {
    background-color: #6f2525;
    max-width: 900px;
    height: 100%;
    margin: 0px auto;

}
.footer {

    background-color: #2d1111;
    min-height: 200px;
    max-width: 900px;
    margin: 0px auto;
}
